/*Universal Stles*/

.html {
  font-size: 12px;
}

.body {
  font-family:
}

/*Header*/
.header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  border: solid pink 1px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  padding-left: 24px;
  border: solid green 1px;
}

/*.logo img {
  flex-grow: 2;
}*/

.nav {
  padding-right: 24px;

  display: flex;


  border: solid blue 1px;
}

.nav ul {
  display: flex;
  align-items: center;
  border: solid orange 1px;
}

.header .nav .square {
  width: 16px;
  height: 64px;
  background-color: skyblue;
}


/*Start Here*/

.starthere {
  background-color: lightgray;
  display: flex;
}

.starthere img {
  padding: 32px 24px;
  width: 60%;
  height: 60%;
}

.starttext {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid orange 1px;
}

.starttext h2 {
  font-size: 3rem;
}

.starttext p {
  font-size: 1.5rem;
}

.button {
  font-size: 1rem;
  font-weight: normal;
  background-color: black;
  color: white;
  padding: 8px 5em;
  border: solid green 2px;
}
