/*Universal Stles*/


/*Header*/
.header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  border: solid pink 1px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  padding-left: 24px;
  border: solid green 1px;
}

.nav {
  padding-right: 24px;
  display: flex;
/*  justify-content: space-between;*/
  align-items: center;

  border: solid blue 1px;
}
